<html>
<body>
<form create action="create-post" method ="post">
    <input type="text" placeholder="Write a post" name="post">
    <button type="submit">Submit</button>
</form>
<form action="delete-post" method="post">
    <input type="number" placeholder="Post #" name="postid"/>
    <button type="submit">Delete</button>
</form>
<form action="edit-post" method ="post">
    <input type="number" placeholder="Post #" name="postid"/>
    <input type="text" placeholder="Enter text" name="editpost">
    <button type="submit">Submit</button>
</form>
Posts by {{name}}<br>
{{#post}}
{{id}}. {{post}}<br>
{{/post}}
</body>
</html>